@model RoadTex.Models.CallHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CallHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallerNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallerNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
